/* Holding Zone */
/* font-family: 'Kurale', serif;
font-family: 'Cookie', cursive; */

body {
   
    
}

/**************************** GENERAL ***************************************/

.btn {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 10px 40px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

.btn:focus input:focus {
    outline: none;

}

.btn:focus {
    background: #b73426;
    color: #fff;
    border: 2px solid #f53f2c;
}

.btn-default {
    background: none;
    color: #f53f2c;
    border: 2.5px solid #f53f2c;
}

.btn-default:hover {
    background: #f53f2c;
    color: #fff;
    border: 2px solid #b73426;
}

input {
    padding: 10px 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: 2px solid #b2b2b2;
    margin: 30px 5px;
    color: #b2b2b2;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

input:focus {
    border: 2px solid #f53f2c;
}

.highlight {
    color: #f53f2c;
}

h1 {
    font-size: 138px;
}

h2 {
    font-family: 'Cookie', cursive;
}

h4 {
    font-weight: 600;
}

p {
    font-size: 13px;
    line-height: 1.7em;
    color: #b2b2b2;
}

.sectionhead {
    padding: 0 150px;

}

.sectionhead p {
    font-size: 16px;
    line-height: 1.6em;

}

.sectionhead hr {
    width: 75px;
    border-bottom: 4px solid #eeeeee;
}

/**************************** FIRST SECTION ***************************************/
#first-section {
    text-align: center;
    height: 560px;
    color: #fff;
    background: url('../images/street.jpg') no-repeat fixed center center/cover;
}

#first-section .container {
    padding-top: 70px;
}

#first-section h1 {
    font-weight: 800;
    text-transform: uppercase;
    line-height: .8em;
    text-shadow: 7px 9px 5px rgba(161,19,15,0.294);
}

#first-section p {
    text-transform: uppercase;
    padding-top: 75px;
    color: #fff;
}

.redoverlay {
    width: 100%;
    height: 100%;
    background: rgba(255, 4, 0, .75);
}

#holiday_season_sale {
    font-size: 50px;
    animation-duration: 3s;
}

#time_again {
    font-size: 100px;
}

#save_up_to {
    border: 2.5px solid #fff;
    color: #fff;
    cursor: pointer;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    height: 100%;
    width: 100%;
    font-size: 32px;
    width: 60%;
    padding: 20px;
    margin-top: 30px;
    position: relative;
    left: 22%;
}

#save_up_to:hover {
    color: #fff;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;

}

#offer_ends {
    animation-duration: 2s;
}

#bigbell {
    animation-duration: 30s;
    margin-top: 0;
    height: 180px;
    width: 180px;
}

.santa {
    float: right;
    margin-top: -370px;

}

.santa_pic {
    margin-top: 60px;
    height: 339px;
    width: 272px;
}

/**************************** SECOND SECTION ***************************************/
#second-section {
    text-align: center;
    padding-top: 100px;
}

.col-md-6, .col-lg-4 {
    padding-top: 50px;
}

#second-section img {
    height: 120px;
}

/**************************** THIRD SECTION ***************************************/
#third-section {
    margin-top: 75px;
    background: url('../images/street.jpg') no-repeat fixed center center/cover;
}

.lightoverlay {
    background: rgba(248, 248, 248, .85);
    width: 100%;
    height: 100%;
    position: relative;

}

#third-section .content {
    padding: 65px 0;

}

#third-section p {
    color: #9f9f9f;
}

#third-section img {
    margin-top: -30px;
    margin-bottom: -15px;
    height: 428px;
    width: 343px;
}


/**************************** FOURTH SECTION ***************************************/
#fourth_section {
    background: url(../images/price_tag.png) no-repeat;
	background-size: 143px 148px;
    background-position: right 0;
    padding-top: 75px;
	
}


.featureditem 
{
padding: 75px 0 20px;
}
.featureditem img
{
margin-top: -20px;
}
.productimg 
{max-width: 100%;

}

.productimg:hover 
{
    opacity: .8;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
}

.price {
    font-size: 16px;
    color: #000;
    font-weight: 600;
    margin-bottom: 0;
}

.offertag {
    border-radius: 50%;
    border: 3px solid #fff;
    width: 70px;
    height: 70px;
    padding: 5px;
    color: #fff;
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    transform: rotate(351deg);
    -webkit-transform: rotate(351deg);
    -moz-transform: rotate(351deg);
    -o-transform: rotate(351deg);
    -ms-transform: rotate(351deg);
}

.offertag h4 {margin-bottom: 0px;}
.offertag p {color: #fff;}

.bigtag {
    top: 10px;
    left: 400px;
}

.smalltag {
    top: 100px;
    left: 110px;
    -webkit-transform: rotate(351deg) scale(.8);
    -moz-transform: rotate(351deg) scale(.8);
    -o-transform: rotate(351deg) scale(.8);
    -ms-transform: rotate(351deg) scale(.8);
}

.fixedoffer 
{
background: #89d055;
}
.percentoffer 
{
background: #f53f2c;
}
.otheroffer 
{
background: #668bde;
}
.moreitems .col-md-4 
{
padding-left: 0;
}


/**************************** FIFTH SECTION ***************************************/
#fifth-section {
    margin-top: 155px;
    background: url('../images/street.jpg') no-repeat fixed center center/cover;
    color: #fff;
}

.darkoverlay {
    background: rgba(54, 57, 66, 0.75);
    width: 100%;
    height: 100%;
    position: relative;
}

#fifth-section .container {
    padding: 65px 0;
}

#santaicon {
    animation-duration: 20s;
    margin-top: -160px;
    overflow: hidden;
    width: 205px;
    height: 205px;

}

/**************************** FIFTH SECTION ***************************************/
#sixth-section {
    padding: 75px 0 30px 0;
}

.logo {
    margin-top: -20px;
}

.santacap {
    margin-top: -120px;
    margin-left: -210px;
    height: 48px;
    width: 48px;

}


/**************************** SIXTH SECTION ***************************************/

#sixth-section hr {
    width: 75px;
    border-bottom: 4px solid #eeeeee;
}


/**************************** SEVENTH SECTION ***************************************/

#seventh-section {
    position: fixed;
    right: -125px;
    top: 130px;
    width: 200px;
}

.sticky {
    text-decoration: none;
    list-style: none;
}

.sticky li{
    list-style-type: none;
    text-decoration: none;
    background: #000;
    color: #fff;
    height: 36px;
    margin: 0 0 3px 0;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    cursor: pointer;
    filter: gray alpha(50%);
    -webkit-filter: gray alpha(50%);
}
.sticky li:hover {
    margin-left: -115px;
    filter: none;
    -webkit-filter: none;
}

.sticky li a {
    list-style: none;
}

.sticky li img {
    float: left;
    width: 36px;
    height: 36px;
    margin-right: 15px;
    padding: 2px;
}

.sticky li p {
    text-transform: uppercase;
    line-height: 36px;
    list-style: none;
}

/****************************** MEDIA QUERIES ****************************************/
@media only screen and (max-width: 1200px) {
    #time_again {
        font-size: 70px;
    }

    #save_up_to {
        font-size: 30px;
    }

    .santa {
        position: absolute;
        right: 0;
        top: 650px;
    }

    .bigtag {
        top: 45px;
        left: 75%;

    }

    #third-section img {
        margin-top: -30px;
        margin-bottom: -15px;
        margin-left: -50px;
        height: 428px;
        width: 343px;

    }

    .smalltag {
        margin-left: 60%;

    }

    .productimg {
        margin-bottom: 20px;
        margin-left: 12%;
        width: 75%;
    }

    .product_text {
        text-align: center;
    }

}

@media only screen and (max-width: 990px) {
    body {
        text-align: center;
    }

    h1 {
        font-size: 110px;
    }

    h3 {
        font-size: 18px;
    }

    #holiday_season_sale {
        font-size: 45px;
    }

    #time_again {
        font-size: 60px;
    }

    #save_up_to {
        font-size: 24px;
        padding: 10px;
    }

    .sectionhead {
        padding: 0;
    }

    #fourth_section img {
        margin-left: 0;
    }

    .productimg {
        margin-bottom: 20px;
        width: 75%;
    }

    .bigbell {
        margin-top: 20px;
        height: 180px;
        width: 180px;
    }
    
    .bigtag {
        top: 20%;
        left: 70%;
    }

    .smalltag {
        margin-left: 60%;
    }

    .santa {
        position: absolute;
        top: 650px;
        right: 0;

    }

    .santa img {
        width: 250px;
        height: 320px;
    }

}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 95px;
    }
    h3 {
        font-size: 16px;
        margin: 0px;
    }
       #first-section {
        height: 500px;
    }
	#holiday_season_sale
	{
		font-size: 45px;
	}
	#time_again
	{
		font-size: 50px;
	}
	#save_up_to
	{
		font-size: 20px;
		padding: 10px;
	}
 
 
	.bigbell
	{
		
		margin-top: 0px;
 
	 
	} 
	.smalltag
	{
		margin-left: 55%;
	}
	
	
	
}


@media only screen and (max-width: 640px) {
    .sticky, .santa {
        display: none;
    }

    h1 {
        font-size: 75px;
    }

    h3 {
        font-size: 13px;
        margin: 0;
    }

    #first-section {
        height: 360px;
    }

    #first-section .container {
        padding-top: 30px;
    }

    #first-section p {
        padding-top: 60px;
    }

    #holiday_season_sale {
        font-size: 40px;
    }

    #time_again {
        font-size: 45px;
    }

    #save_up_to {
        font-size: 18px;
        padding: 10px;

    }

    #offer_ends {
        margin-top: 0px;
    }

    .bigbell {
        height: 110px;
        width: 110px;
        position: absolute;
        top: 300px;
        left: 30%;
    }

    .bigtag {
        left: 65%;

    }

    .smalltag {
        margin-left: 50%;
    }

    input {
        padding: 15px 30px;
        width: 85%;
        margin: 20px 0 0 0;
    }

}

@media only screen and (max-width: 530px) {
    h1 
	{
        font-size: 60px;
    }
    h2 
	{
        font-size: 20px;
    }
    h3 
	{
        font-size: 12px;
 
    }
    .sectionhead p 
	{
        font-size: 14px;
    }
    #first-section 
	{
        height: 320px;
    }
    #first-section .btn 
	{
        margin-top: 10px;
    }
	#holiday_season_sale
	{
		font-size: 30px;
	}
	#time_again
	{
		font-size: 38px;
	}
	#save_up_to
	{
		font-size: 18px;
		padding: 10px;
	}
	#offer_ends
	{
	margin-top: -30px;	
	}
	
    #third-section img {
        max-width: 100%;
    }
    .bigbell {
	 
 
		top: 270px;
	 left: 30%;
 
    }
 
    .smalltag {
        left: 0;
    }
    .logo {
        font-size: 28px;
    }
	
	.santaicon
	{
		height: 200px;
		width: 150px;
	}
}

/* Even Smaller Mobile Devices */
@media only screen and (max-width: 380px) {
    h1 {
        font-size: 50px;
    }
 
    #first-section .container {
        padding-top: 50px;
    }
	#holiday_season_sale
	{
		font-size: 26px;
	}
	#time_again
	{
		font-size: 34px;
	}
	#save_up_to
	{
		font-size: 15px;
		padding: 5px;
		
	}
	#offer_ends
	{
	margin-top: -20px;	
	}
    .optional {
        display: none;
    }
    .bigbell {
		display: none;
  
    }
    .bigtag {
        left: 60%;
    }
    .smalltag {
        left: 180px;
    }
    #fourth_section 
	{
        background: none;   
    }
	

	.santaicon
	{
		height: 160px;
		width: 120px;
	}
}

/* Smallest Mobile Devices */
@media only screen and (max-width: 320px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 17px;
    }

	#save_up_to
	{
		font-size: 15px;
		
	}
	#offer_ends
	{
	margin-top: -10px;	
	}
    #second_section {
        padding-top: 50px;
    }
    .bigbell {
		display: none;

    }
    .bigtag {
        left: 180px;
    }

	.santaicon
	{
		height: 160px;
		width: 120px;
	}
	
}

